.community-header {
  background: white;
}

.community-banner {
  background: rgb(76, 166, 250);
  height: 75px;
}

.community-title {
  font-size: 35px;
  padding-left: 10px;
  display: inline;
}

.community-header-name {
  color: grey;
  padding: 0px 0px 5px 10px;
}

.community-about {
  background: white;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
  overflow: hidden;
  padding: 0px;
}

.community-about-title-container {
  background: rgb(76, 166, 250);
  width: 100%;
  padding: 10px;
}

.community-about-title {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 2px 5px;
}

.community-about-text {
  margin: 10px;
  font-size: 15px;
  font-weight: 300;
}

.community-members {
  margin: 10px;
  font-weight: 600;
}

.community-join {
  display: inline;
  position: relative;
  top: -7px;
}

