.community-header {
  background: white;
}

.community-banner {
  background: rgb(76, 166, 250);
  height: 75px;
}

.community-title {
  font-size: 35px;
  padding-left: 10px;
}

.community-header-name {
  color: grey;
  padding: 0px 0px 5px 10px;
}