<div class="container">
  <% @posts.reverse_each do |post| %>
    <%= render 'shared/post', post: post do %>
      <%= link_to "s/#{post.community.name}", community_path(post.community.name) %>
    <% end %>
  <% end %>
</div>
