.post {
  background: white;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  margin: 10px 0px;
  overflow: hidden;
  display: flex;
}

.post-user {
  color: grey;
  font-weight: normal;
}

.post-username, .post-username:hover {
  color: grey;
}

.post-message {
  margin-bottom: 0px;
}

.community-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-body {
  padding: 10px;
}

.votes-container {
  background: rgb(224, 224, 224);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 30px;
}

.votes {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}
