.post, .community-about {
  background: white;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0px;
}

.community-about {
  padding: 0px;
}

.post-user {
  color: grey;
  font-weight: normal;
}

.post-username, .post-username:hover {
  color: grey;
}

.post-message {
  margin-bottom: 0px;
}

.community-name {
  font-size: 12px;
  font-weight: bold;
}